### OS X ###
.DS_Store
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
.netrwhist
*~

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.Rproj.user

Rplots.pdf

# Project specific
R3C-master.R
growth-curve-master.R
